

body {
    direction: rtl;
    text-align: right;
}

b {
    font-weight: normal;
}

a {
    text-decoration: none;
    text-underline: none;
    color: #3d3d3d !important;
}

a:hover {
    text-underline: none !important;
    text-decoration: none !important;
    color: #3d3d3d !important;
}

li {
    list-style: none;
}

ul {
    padding-right: 0;
}

caption {
    caption-side: top;
}

img {
    max-width: 100%;
}

.star {
    color: #ea0012;
}

select {
    cursor: pointer;
}

.sana_title a {
    font-size: 35px;
}
input[type=checkbox]{
    cursor: pointer;
}

.fa-trash {
    color: #f25278;
    font-size: 22px;
    cursor: pointer;
}
.verify_icon{
    background: url(../img/icon/checked.png) no-repeat !important;
}

/*@media (max-width: 400px) {*/
/*.sana_title a{*/
/*font-size: 19px !important;*/
/*}*/
/*}*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}
.overflow-hidden{
          overflow: hidden;
}

.dashboard_user_container {
    display: none;
}

@media (max-width: 991px) {
    .dashboard_user_container {
        display: block;
    }

    .user_quick {
        display: none;
    }
}

.sidenav a {
    padding: 18px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #c3c3c3;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.dashboard_user {
    cursor: pointer;
}

.dashboard_user i {
    width: 32px;
    height: 32px;
    display: block;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 13px;
    }
}

/* SECTION DASHBOARD(ALL) ... */
@media (max-width: 991px) {
    .box {
        margin-top: 20px;
    }

    /*.user_panel {*/
    /*    display: none;*/
    /*}*/
}

/*EDN DASHBOARD*/


.card {

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

}
.card {
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0,0,0,0.5) !important;

}


.active_locate {
    background-color: #f2f8ff !important;
    box-shadow: inset 0 0 5px #000000 !important;
}

.information_content .table td {
    padding: 0.5rem !important;
}

.modal-header {
    justify-content: center;
    margin-bottom: 0 !important;
}

.modal-body .titled {
    line-height: 70px;
}

.modal-footer {
    direction: ltr;
}

.modal-body .fa-warning {
    color: #cf1f25;
}

/* END FOOTER SECTION*/

/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/
.formContent > b {
    word-spacing: 4px;
}

.formContent h1 {
    font-size: 23px;
}

.formContent input[type=button], .formContent input[type=button], .formContent input[type=button], .formContent input[type=submit], .formContent input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.information_items input, .formContent input {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    width: 90%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]::placeholder {
    color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}

.formContent h1 {
    color: #60a0ff;
}

/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 30%;
}

/* pharmPanel */
@media (max-width: 768px) {
    .city, .province {
        width: 100% !important;
        font-size: 13px !important;
    }

    .citylabel {
        display: block !important;
        margin-top: 20px;
    }

    .information_items li {
        margin: 14px 0;
    }

}

.information_items li {
    margin: 30px 0;
}

.information_items li span {
    line-height: 60px;
}

.information_items input {
    font-size: 13px;
    border: 1px solid #eeeeee;
}

.information_items li.edit_information a {
    color: white;
}

/* ENDpharmPanel */

/* Dashboards */
.title_icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;

}

.custom_box {
    background-color: #317589;
    color: #FFFFFF;
}

#circles {
    padding-bottom: 5px;
}

#dashboard_content #circles ul li:not(.user_icon) {

    border-radius: 5%;
    background-color: #f7f7f7;
    width: 96px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
    padding: 7px 0px 20px 0px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 0 1px #ababab;
    cursor: pointer;
    transition: all 180ms ease-in;
    margin-top: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}

#dashboard_content #circles ul li:hover {
    box-shadow: inset 0 0 3px #96bde1;
}

#dashboard_content #circles ul li a {

    display: block;

}

#dashboard_content #circles ul li a {

    display: block;

}

/* END Dashboards */
